.counter {
  border-top: 2px black solid;
}
.btn-elements {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.inc {
  width: 100px;
  height: 50px;
  background-color: lightseagreen;
}
.dec {
  width: 100px;
  height: 50px;
  background-color: orange;
  margin-left: 5px;
}
.reset {
  width: 100px;
  height: 50px;
  background-color: plum;
  margin-left: 5px;
}
.counter-result {
  display: flex;
  justify-content: center;
  align-items: center;
}
