.ternary {
  border-top: 2px black solid;
}
.ter-input {
  width: 140px;
  height: 30px;
  background-color: lightsalmon;
  border: 2px purple solid;
  border-radius: 10px;
  outline: none;
}
.btn {
  width: 100px;
  height: 30px;
  background-color: lightseagreen;
  border: 2px darkcyan solid;
  border-radius: 10px;
  outline: none;
  margin-left: 5px;
}
